.Cart-Body{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
}
.Cart>h1{
    grid-column: 2;
    text-align: center;
    
    margin:2% 10% 2% 10%;
    border-bottom: 1px solid;
      
}
.Cart-Body>div{
    margin-bottom: 20px;
}
.Cart-Body>p,.Cart-Body>div, .Totals{
    grid-column: 2;

}

.Tabla, .Totals{
    grid-column: 2;
    margin-bottom: 10px;
}
.Tabla th, .Tabla td, .Totals th, .Totals td{
    border: solid 1px rgb(201, 194, 194);
    margin-bottom: 20px;
    
}
.item-miniatura>img{
    width: 80px;
    height: 80px;
    margin: 5px;
}
.item-remove{
    text-align: center;
}
.remove{
    margin: 0px 5px 0px 5px
}
.remove:hover{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.item-cantidad{
    width:15%
}
.item-cantidad>input{
    width: 100%
}