@import url('https://fonts.googleapis.com/css?family=Montserrat');

.Developer{
    display:flex;
    flex-direction: column;
    align-items: center;

}

.card-container {
	background-color: #252523;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	padding-top: 30px;
	position: relative;
	width: 350px;
	max-width: 100%;
	text-align: center;
}


.card-container .round {
	border: 1px solid white;
	border-radius: 50%;
    padding: 7px;
    width: 50%;
    height: auto;
}

a.primary {
	background-color: #FFF4F0;
	border: 1px solid white;
	border-radius: 3px;
	color: #231E39;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;
}

a.primary.ghost {
	background-color: #5e5e5e;
	color: white;
}

a.primary.ghost:hover {
	background-color: #818181;
}

.skills {
    background-color:#3b3b3b;
    color:#B3B8CD;
	text-align: left;
	padding: 15px;
	margin-top: 30px;
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills ul li {
	border: 1px solid white;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
}

/*mobile devices*/
@media only screen and (max-width: 600px) {
	body{
		display: grid;
		grid-template-columns:1fr;
		width: 100%;
	}
    .Developer{
		margin-bottom: 10%;
	
	}
	.Footer{
		width: 100%;
	}

} 

