


header{
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}


.NavegationBar {
  background-color: #525252;
  display:block;
  color: white;
  width: 100%;
  margin:0
}

.NavegationBar>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.NavegationBar>ul>li{
  float: left;
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
.NavegationBar>ul>li>a{
  color:white;
}

.NavegationBar>ul>li>a:hover {
  color: #111111;
}

.MyFooter{
  background-color: #525252;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}