
#NavegationBar {
  display:block;
  width: 100%;
  margin:0;
  text-align: right;
  height: 70px;
  top: 0;
  position: sticky;
  z-index: 999;
  background-color: white;
}

#NavegationBar>ul {
  padding-top: 10px;
  display:inline-flex;
  list-style-type: none;
  margin: 0;
}

#NavegationBar>ul>li>a {
  color:gray;
  text-decoration: none
}

#NavegationBar>ul>li>a:hover {
  color: rgb(78, 78, 78);
}


#NavegationBar>ul>li{
  padding: 16px;
  text-decoration: none;
}
/*
#Banner{
  height:300px;
  background: gray;
}
*/

#MyFooter {
  background-color: #525252;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  z-index: -3;
}
.FooterTarget{
  margin-top: 20px;
}
/*****      shop view       ****/

.Shop-body{
  background-color: white;
  margin-bottom: 300px;
}
.Shop-banner{
  width: 100%;
  height: 150px;
  overflow: hidden;
  margin: 10px 0px 10px 0px;
  position: relative;
}
.Shop-banner>h1{ 
  color: white;
  margin: 56px; 
  padding: 0px;
  
  
}
.Shop-banner >.Shop-crop {
  z-index: -1;
  position:absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
}

/*Categoria*/
.Seleccion{
  margin-top: 68px;
  text-align: left;
}
.op>p:hover{
  color: rgb(78, 78, 78);
}
.op>p{
  margin:0px;
  color:gray;
  cursor: pointer;
}
.Categoria{
  text-align: center;
}
.Categoria>h2{
  padding: 15px 0px;
}
/**CARD**/
.card-data{
  text-align: center; 
}
.card-detalle, .card-nombre{
  display: flex;
  justify-content: space-between;
  background-color: #EAEAE9;
  margin: 0px;
}
.card-boton{
  background-color: #525252;
  margin:0px;
  color: white;
}
.card-boton:hover{
  opacity: 0.9;
  cursor: pointer;
}
.card-boton >p{
  margin: 0px;
}

[name="Cabecera"]{
  display:grid;
  grid-template-columns:100%;
}

.principalTendencias{
  display: grid;
  margin: 20px 10% 0 10%;
  grid-template-columns:1fr 1fr 1fr 1fr;
}

.Home{
  text-align: center;
  margin-bottom: 20px;
}
[name="TxtTendencias"]{
  color: gray;
  font-weight: bold;
  border-bottom: 1px solid;
  margin: 20px 10%;
}
