@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
*{
  font-family: Roboto, sans-serif;
}
 
.App{
  display: grid;
  grid-template-rows:70px 100% 200px;
}
.NavBar {
  display: grid;
  grid-template-columns:1fr 90%;
}
.NavBar ul {
  list-style-type: none;
  margin: 0;
  padding-top: 15px;
}
#NavegationBar {
  display: block;
  width: 100%;
  margin:0;
  text-align: right;
  height: 70px;
  top: 0;
  z-index: 999;
  background-color: white;
}

#NavegationBar>ul{
  padding-top: 10px;
  display:inline-flex;
  list-style-type: none;
  margin: 0;
}

#NavegationBar>ul>li>a {
  color:gray;
  text-decoration: none
}

#NavegationBar>ul>li>a:hover {
  color: rgb(78, 78, 78);
}

#NavegationBar>ul>li{
  padding: 16px;
  text-decoration: none;
}
.ICarrito{
  width: 20px;
  height: 20px;
}
.LogoHome{
  width: 40px;
  height: 40px;
}


/*HOME view*/

[name="Cabecera"]{
  display:grid;
  grid-template-columns:100%;
}

.principalTendencias{
  display: grid;
  margin: 20px 10% 0 10%;
  grid-template-columns:1fr 1fr 1fr 1fr;
}

.Home{
  text-align: center;
  margin-bottom: 20px;
}

[name="TxtTendencias"]{
  color: gray;
  font-weight: bold;
  border-bottom: 1px solid;
  margin: 20px 10%;
}



.DevTeam{
  text-align: center;
  margin-bottom: 10%;
}

.DevTeam h1{
  margin:2% 10% 2% 10%;
  border-bottom: 1px solid;
}

.Dev-body{
  display:grid;
  grid-template-columns:1fr 1fr;
  margin:0 10% 0 10%;
}


.DevTeam{
  text-align: center;
  margin-bottom: 10%;
}

.DevTeam h1{
  margin:2% 10% 2% 10%;
  border-bottom: 1px solid;
}

.Dev-body{
  display:grid;
  grid-template-columns:1fr 1fr;
  margin:0 10% 0 10%;
}

.AboutUs{
  text-align: center;
}

.AboutUs-body{
  margin:5% 0 0 0;
}

.AboutUs-body h3{
  font-weight: bold;
}
.AboutUs-Map{
  margin: 5% 15% 0 15%;
}


/*mobile devices*/
@media only screen and (max-width: 600px) {
  .Dev-body{
    display:flex;
    flex-direction: column;
  }
   
  /** nav{
    width: 70%;
    height: 100%;
    margin: 0;
    position: fixed;
  }

  nav li{
    display: block;
    float: none;
    border-bottom: 1px solid rgb(255, 255, 255, .3);
  }

  .menu_bar{
    display: block;
    width: 100%;
    background: #ccc;
  }

  .menu_bar .bt-menu{
    display: block;
    padding: 20px;
    background: #000000;;
    font-weight: bold;
    font-size: 25px;
    box-sizing: border-box;
  }
**/
}
